<div class = 'col-xs-10 col-xs-offset-1'>
	<table id = 'chess'>
		<tr class = '8'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '7'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '6'>
				<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '5'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '4'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '3'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '2'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '1'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
	</table>
</div>

<img src="#" id='wQueen' />
<img src="#" id='wKing' />
<img src="#" id='wRook1' />
<img src="#" id='wRook2' />
<img src="#" id='wBishop1' />
<img src="#" id='wBishop2' />
<img src="#" id='wKnight1' />
<img src="#" id='wKnight2' />
<img src="#" id='wPawn1' />
<img src="#" id='wPawn2' />
<img src="#" id='wPawn3' />
<img src="#" id='wPawn4' />
<img src="#" id='wPawn5' />
<img src="#" id='wPawn6' />
<img src="#" id='wPawn7' />
<img src="#" id='wPawn8' />

<img src="#" id='bQueen' />
<img src="#" id='bKing' />
<img src="#" id='bRook1' />
<img src="#" id='bRook2' />
<img src="#" id='bBishop1' />
<img src="#" id='bBishop2' />
<img src="#" id='bKnight1' />
<img src="#" id='bKnight2' />
<img src="#" id='bPawn1' />
<img src="#" id='bPawn2' />
<img src="#" id='bPawn3' />
<img src="#" id='bPawn4' />
<img src="#" id='bPawn5' />
<img src="#" id='bPawn6' />
<img src="#" id='bPawn7' />
<img src="#" id='bPawn8' />

<script>
	var chessTable = $('#chess')[0];
	var wQueen = $('#wQueen');
	chessTable.rows[0].cells[0].innerHTML = wQueen;


</script>