<div class = 'col-xs-10 col-xs-offset-1'>
	<table id = 'chess'>
		<tr class = '0'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '1'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '2'>
				<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '3'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '4'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '5'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '6'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
		<tr class = '7'>
			<td class = 'a'></td>
			<td class = 'b'></td>
			<td class = 'c'></td>
			<td class = 'd'></td>
			<td class = 'e'></td>
			<td class = 'f'></td>
			<td class = 'g'></td>
			<td class = 'h'></td>
		</tr>
	</table>
</div>


<script>
	var wPawn9 = $('#wPawn9');

	var chessTable = $('#chess')[0];
	var wQueen = '<img src="assets/white-queen.gif" id="wQueen" draggable ="true" />';
	var wKing = '<img src="assets/white-king.gif" id="wKing" draggable ="true" />';
	var wRook1 = '<img src="assets/white-rook.gif" id="wRook1" draggable ="true" />';
	var wRook2 = '<img src="assets/white-rook.gif" id="wRook2" draggable ="true" />';
	var wBishop1 = '<img src="assets/white-bishop.gif" id="wBishop1" draggable ="true" />';
	var wBishop2 = '<img src="assets/white-bishop.gif" id="wBishop2" draggable ="true" />';
	var wKnight1 = '<img src="assets/white-knight.gif" id="wKnight1" draggable ="true" />';
	var wKnight2 = '<img src="assets/white-knight.gif" id="wKnight2" draggable ="true" />';
	var wPawn1 = '<img src="assets/white-pawn.gif" id="wPawn1" draggable ="true" />';
	var wPawn2 = '<img src="assets/white-pawn.gif" id="wPawn2" draggable ="true" />';
	var wPawn3 = '<img src="assets/white-pawn.gif" id="wPawn3" draggable ="true" />';
	var wPawn4 = '<img src="assets/white-pawn.gif" id="wPawn4" draggable ="true" />';
	var wPawn5 = '<img src="assets/white-pawn.gif" id="wPawn5" draggable ="true" />';
	var wPawn6 = '<img src="assets/white-pawn.gif" id="wPawn6" draggable ="true" />';
	var wPawn7 = '<img src="assets/white-pawn.gif" id="wPawn7" draggable ="true" />';
	var wPawn8 = '<img src="assets/white-pawn.gif" id="wPawn8" draggable ="true" />';

	var bQueen = '<img src="assets/black-queen.gif" id="bQueen" draggable ="true" />';
	var bKing = '<img src="assets/black-king.gif" id="bKing" draggable ="true" />';
	var bRook1 = '<img src="assets/black-rook.gif" id="bRook1" draggable ="true" />';
	var bRook2 = '<img src="assets/black-rook.gif" id="bRook2" draggable ="true" />';
	var bBishop1 = '<img src="assets/black-bishop.gif" id="bBishop1" draggable ="true" />';
	var bBishop2 = '<img src="assets/black-bishop.gif" id="bBishop2" draggable ="true" />';
	var bKnight1 = '<img src="assets/black-knight.gif" id="bKnight1" draggable ="true" />';
	var bKnight2 = '<img src="assets/black-knight.gif" id="bKnight2" draggable ="true" />';
	var bPawn1 = '<img src="assets/black-pawn.gif" id="bPawn1" draggable ="true" />';
	var bPawn2 = '<img src="assets/black-pawn.gif" id="bPawn2" draggable ="true" />';
	var bPawn3 = '<img src="assets/black-pawn.gif" id="bPawn3" draggable ="true" />';
	var bPawn4 = '<img src="assets/black-pawn.gif" id="bPawn4" draggable ="true" />';
	var bPawn5 = '<img src="assets/black-pawn.gif" id="bPawn5" draggable ="true" />';
	var bPawn6 = '<img src="assets/black-pawn.gif" id="bPawn6" draggable ="true" />';
	var bPawn7 = '<img src="assets/black-pawn.gif" id="bPawn7" draggable ="true" />';
	var bPawn8 = '<img src="assets/black-pawn.gif" id="bPawn8" draggable ="true" />';


	chessTable.rows[0].cells[0].innerHTML = wRook1;
	chessTable.rows[0].cells[1].innerHTML = wKnight1;
	chessTable.rows[0].cells[2].innerHTML = wBishop1;
	chessTable.rows[0].cells[3].innerHTML = wQueen;
	chessTable.rows[0].cells[4].innerHTML = wKing;
	chessTable.rows[0].cells[5].innerHTML = wBishop2;
	chessTable.rows[0].cells[6].innerHTML = wKnight2;
	chessTable.rows[0].cells[7].innerHTML = wRook2;
	chessTable.rows[1].cells[0].innerHTML = wPawn1;
	chessTable.rows[1].cells[1].innerHTML = wPawn2;
	chessTable.rows[1].cells[2].innerHTML = wPawn3;
	chessTable.rows[1].cells[3].innerHTML = wPawn4;
	chessTable.rows[1].cells[4].innerHTML = wPawn5;
	chessTable.rows[1].cells[5].innerHTML = wPawn6;
	chessTable.rows[1].cells[6].innerHTML = wPawn7;
	chessTable.rows[1].cells[7].innerHTML = wPawn8;

	chessTable.rows[7].cells[0].innerHTML = bRook1;
	chessTable.rows[7].cells[1].innerHTML = bKnight1;
	chessTable.rows[7].cells[2].innerHTML = bBishop1;
	chessTable.rows[7].cells[3].innerHTML = bQueen;
	chessTable.rows[7].cells[4].innerHTML = bKing;
	chessTable.rows[7].cells[5].innerHTML = bBishop2;
	chessTable.rows[7].cells[6].innerHTML = bKnight2;
	chessTable.rows[7].cells[7].innerHTML = bRook2;
	chessTable.rows[6].cells[0].innerHTML = bPawn1;
	chessTable.rows[6].cells[1].innerHTML = bPawn2;
	chessTable.rows[6].cells[2].innerHTML = bPawn3;
	chessTable.rows[6].cells[3].innerHTML = bPawn4;
	chessTable.rows[6].cells[4].innerHTML = bPawn5;
	chessTable.rows[6].cells[5].innerHTML = bPawn6;
	chessTable.rows[6].cells[6].innerHTML = bPawn7;
	chessTable.rows[6].cells[7].innerHTML = bPawn8;

 // potential function to populate the board...	
 $(document).ready(function popBoard () {
 	<% @pieces.each do |p| %>
 	chessTable.rows['<%= p.y-axis %>'].cells['<%= p.x-axis %>'].innerHTML = '<%= p.color %>' + '<%= p.name %>';
 	<% end %>
 });


</script>